html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-image: linear-gradient(to right top, #875973, #88585c, #7f5a4d, #6f5e46, #5f6049, #525b48, #475648, #3f5048, #34443f, #2b3935, #212e2c, #192322);*/
  background-image: url(bg4.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: 25%;
}

body{
  display: flex;
  flex-wrap: wrap;
}

#home,#about,#contact{
  width: 100%;
  height: 100%;
  color: white;
}

/*MENU START*/

ul,a {
    list-style-type: none;
    text-decoration: none;
}

.menu{
  display :flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  border-bottom: solid ;
  border-bottom-color: #303030;
  border-radius: 0rem 0rem 1rem 0rem;
  background-color: rgba(0,0,0,1);
  align-items: center;
}

.child{
  flex: 1;
  width: 50%;
}

h1{
  margin-left: 30px;
  color: white;
}

ul{
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.liste {
  text-align: center;
  width: 100%;
  margin-left: 4px;
  padding-top: 21px;
  transition: border-width 0.1s linear;
  color: white;
}

.liste:hover{
  border-bottom: solid white 5px;
  transform: translateX(4px);
}


.we-in{
  border-radius: 0 0 4px 4px;
-webkit-box-shadow: inset 0px 0px 247px 29px rgba(79,77,79,1);
-moz-box-shadow: inset 0px 0px 247px 29px rgba(79,77,79,1);
box-shadow: inset 0px 0px 247px 29px rgba(79,77,79,1);
}

/*MENU END*/
